* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

article {
  border: 1px solid lightgray;
  margin: 5px;
  width: 20vw;
  font-size: small;
  background-color: #fff1d0;
}

article h4 {
  color: #07a0c3;
}

.affichageKPI {
  height: 20vh;
  width: 20vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  font-size: large;
}
